@font-face {
  font-family: "Circular";
  src: url("../assets/circular.ttf");
}

body {
  font-family: "Circular";
  padding: 10px;
  color: rgb(72, 72, 72);
}

p {
  font-size: 20px;
}

.btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid teal;
  width: 90px;
  height: 45px;
  width: fit-content;
  letter-spacing: 0.8px;
  cursor: pointer;
}

button:nth-of-type(1) {
  margin-right: 5px;
}

.btn-group {
  margin-top: 40px;
}

#login {
  color: white;
  background-color: teal;
}

#signup {
  background-color: transparent;
  color: teal;
}

#login-section {
  border-bottom: 1px solid rgb(235, 226, 226);
  padding-bottom: 65px;
  margin-bottom: 40px;
}

section {
  position: relative;
}

.article {
  display: inline-block;
  vertical-align: top;
}

article:nth-of-type(1) {
  margin-right: 50px;
}

ul {
  text-align: left;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;
  max-width: 260px;
}
